day3/workflow5.json
{
  "name": "workflow 4",
  "nodes": [
    {
      "parameters": {
        "formTitle": "University Admission Application Form",
        "formDescription": "Please fill out this application form carefully with your personal and academic details. Upload all required documents to complete your submission. After review, shortlisted candidates will receive an invitation to the entrance exam via email.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email ID",
              "placeholder": "Enter your Mail id",
              "requiredField": true
            },
            {
              "fieldLabel": "Full Name",
              "placeholder": "Enter Your Name"
            },
            {
              "fieldLabel": "Date Of Birth",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Contact Number"
            },
            {
              "fieldLabel": "Percentage",
              "requiredField": true
            },
            {
              "fieldLabel": "Board",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "CBSE"
                  },
                  {
                    "option": "State Board"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Program Applying For",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Bachelor of Science"
                  },
                  {
                    "option": "Business Administration"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1940,
        20
      ],
      "id": "1a479687-f280-4ba0-af92-695f5341b8bc",
      "name": "On form submission",
      "webhookId": "908d295d-521f-4f1f-a105-5f68d6511760"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=assess the student percentage if above 70 then the send pass or else fail only respond with pass or fail  \ninput fields:\nname: {{ $json['Full Name'] }}\nemail:{{ $json['Email ID'] }}\npercentage:{{ $json.Percentage }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1500,
        20
      ],
      "id": "8c81e256-da12-4abe-b712-360cb749e0d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9685951c-dcff-4085-ad49-df70e2609836",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Pass",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        0
      ],
      "id": "3c4e2c35-e4c7-4ebd-ad1c-b13d5ec91b30",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Process one \n**This Process check the eligiblity status of that student** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2060,
        200
      ],
      "id": "2814a011-f9a5-4e4b-884f-85c67b23fb93",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Uv9mPZGeEm4baEa3gLucHh5RcMTtXL--GuS5GPhjPr8",
          "mode": "list",
          "cachedResultName": "student status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uv9mPZGeEm4baEa3gLucHh5RcMTtXL--GuS5GPhjPr8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uv9mPZGeEm4baEa3gLucHh5RcMTtXL--GuS5GPhjPr8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Of Birth",
              "displayName": "Date Of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Percentage",
              "displayName": "Percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Board",
              "displayName": "Board",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Program Applying For",
              "displayName": "Program Applying For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1720,
        20
      ],
      "id": "1c0a993a-df84-4451-aefc-06587cceea25",
      "name": "Register Students",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KLM1OCffR0QMNOMc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1480,
        200
      ],
      "id": "cfddf9f2-0b27-42f7-9849-9108c797753b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "W4EwqJn2gt2FJy47",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Email ID'] }}",
        "subject": "congrats",
        "emailType": "text",
        "message": "you got selected",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -900,
        -100
      ],
      "id": "6fc52d35-90da-444e-94fe-2a53dac5c99b",
      "name": "Gmail",
      "webhookId": "6291ee51-fac1-46c2-b199-db3173357f3c",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZnctNGQDWpy5xxBq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Email ID'] }}",
        "subject": "congrats",
        "emailType": "text",
        "message": "not selected",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -920,
        200
      ],
      "id": "218da5d8-1092-4191-9f44-ccb55dfaddd7",
      "name": "Gmail1",
      "webhookId": "6291ee51-fac1-46c2-b199-db3173357f3c",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZnctNGQDWpy5xxBq",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Register Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Students": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a64f2e13-c48b-4e0f-a1f9-30789318dd38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a86351d86e7cc0de9fd7e9dd70786885f1e0415bc2a720f323b0954cf4869bbd"
  },
  "id": "3NRnby3ZtYyswFoW",
  "tags": []
}